.row
  .container
    %h2.text-center What are you looking for today?
    .col-md-6.col-md-offset-3
      .input-group
        %input.form-control{ placeholder: "Search...", type: "text" }
        %span.input-group-btn
          %button.btn.btn-default{ type: "button" } Go!
.row
  .container
    %h2.text-center Categories:
    %ul.text-center
      - @categories.each_slice(5) do |slice|
        .checkbox-inline
        %br
        - slice.each do |category|
          %input{ type: "checkbox" }
          = link_to category.name.capitalize, category
.row
  .container
    %h2.text-center Posts:
    %ul.text-center
      - @posts.each do |post|
        %p
          = link_to post.title.capitalize, post
          Categories:
          - post.categories.each do |category|
            = category.name + ","
