%p= button_to "New post", new_post_path, method: :get, class: 'btn btn-secondary'
%p List of your posts:
%ul
  - @posts.each do |post|
    %li
      = link_to post.title, post
      = link_to 'Edit', edit_post_path(post)
